.main{
    display:grid;
    place-items: center;
    align-content: center;
    height: 100vh;
    
}

.bt{
    height: 60px;
    border-radius: 10px;
    background-color: #e0e0e0;
}
.bt1{
    height:60px;
    border-radius:10px;
    background-color: #6fcf97;
}
.bt2{
    height: 60px;
    border-radius: 10px;
    background-color: #56ccf2;
}
.bt3{
    height: 60px;
    border-radius: 10px;
    background-color: #bb6bd9;
}

.para{
    background-color: black;
    color:white;
    font-weight: bold;
    width: fit-content;
    border-radius: 5px;
    line-height: 40px;
    
}